$grid-width: 1280px;
$border-radius: 4px;
$border-radius-2: 8px;
$border-radius-3: 16px;

$gutter-12: 0.75rem;
$gutter-24: 1.5rem;

$color-primary: #ffc500;
$color-primary-hover: #fecc22;
$color-box-shadow: rgba(255, 197, 0, 0.3);
$color-primary-10: rgba(212, 32, 38, 0.1);
$color-lighten: #fbfbfb;
$color-lighten-2: #fefefe;
$color-gray: #cccccc;
$color-white: #ffffff;
$color-black: #000000;

$color-brown: #6e5217;
$color-dark-brown: #503e17;

$transition-delay-default: 0.5s;
