.u-color-primary {
  color: $color-primary;
}

.u-color-white {
  color: $color-white;
}

.u-color-black {
  color: $color-black;
}

.u-color-brown {
  color: $color-brown;
}

.u-color-dark-brown {
  color: $color-dark-brown;
}
