@mixin fontsize($sizes, $sufix: "") {
  @each $size in $sizes {
    $size: #{($size/16)}rem;
    @if $sufix != "" {
      .u-fs-#{$size}\@#{$sufix} {
        font-size: $size;
      }
    } @else {
      .u-fs-#{$size} {
        font-size: $size;
      }
    }
  }
}
